/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    line-height: 1.6;
       
}
.header {
    background-color: #2C2A29;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header h1 a {
    color: #fff;
    text-decoration: none;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav li a {
    color: #C0392B;
    text-decoration: none;
}

.register {
    background-color: #6B8E23;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.register:hover {
    background-color: #8FBC8F;
}




footer {
    text-align: center;
    background-color: #1C2A29;
    color: #FFD699;
    padding: 19px; /* Adds spacing inside the footer */
    margin-top: 19px; /* Adds some space above the footer */
}

/* Optional: Adjust font size for smaller screens */
footer p {
    font-size: 13px; /* Makes text smaller on mobile */
    color: #FFD699;
}

/* Optional: Make footer background color change on hover (for interactivity) */
footer:hover {
    background-color: #444443; /* Darker shade when hovered */
}

